<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116671616372-e4m84chu4s9tssrv8a3c9c98st8fvr50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116671616372-e4m84chu4s9tssrv8a3c9c98st8fvr50</string>
	<key>API_KEY</key>
	<string>AIzaSyCbvQ9ipNIEMwNPNYPMjXWlzO9iaOBF_OY</string>
	<key>GCM_SENDER_ID</key>
	<string>116671616372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guchiwo.splooking3</string>
	<key>PROJECT_ID</key>
	<string>splooking3</string>
	<key>STORAGE_BUCKET</key>
	<string>splooking3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116671616372:ios:5c0d8c41fb4bb4516ac821</string>
</dict>
</plist>